DATABASE_URL="mysql://rocket:password@example.com/holiday_bot"

CHANNEL_SECRET=# your channel's
CHANNEL_ACCESS_TOKEN=# your channel's
SECRET=# any strings to verify correct user when send a push message
USER_ID=# your line id



